<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         cacheResultFile="tmp/.phpunit.cache/test-results"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         verbose="true">


    <coverage processUncoveredFiles="false">
        <include>
            <directory suffix=".php">.</directory>
        </include>
        <exclude>
            <directory>vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="tmp/html-coverage" lowUpperBound="50" highLowerBound="90"/>
            <php outputFile="tmp/coverage.php"/>
            <text outputFile="tmp/coverage.txt" showUncoveredFiles="true" showOnlySummary="true"/>
            <xml outputDirectory="tmp/xml-coverage"/>
        </report>
    </coverage>

    <testsuites>
        <testsuite name="moonmoon tests">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
